In [1]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
path = 'https://github.com/dongupak/DataML/raw/main/csv/'
file = path+'vehicle_prod.csv'
df = pd.read_csv(file)

In [7]:
df = pd.read_csv(file,  index_col = 0)
print(df)

         2007   2008   2009   2010   2011
China    7.71   7.95  11.96  15.84  16.33
EU      19.02  17.71  15.00  16.70  17.48
US      10.47   8.45   5.58   7.60   8.40
Japan   10.87  10.83   7.55   9.09   7.88
Korea    4.04   3.78   3.45   4.20   4.62
Mexico   2.01   2.05   1.50   2.25   2.54

In [12]:
df['average'] =  df[['2007', '2008', '2009', '2010', '2011']].mean(axis=1)
print(df)

         2007   2008   2009   2010   2011  average
China    7.71   7.95  11.96  15.84  16.33   11.958
EU      19.02  17.71  15.00  16.70  17.48   17.182
US      10.47   8.45   5.58   7.60   8.40    8.100
Japan   10.87  10.83   7.55   9.09   7.88    9.244
Korea    4.04   3.78   3.45   4.20   4.62    4.018
Mexico   2.01   2.05   1.50   2.25   2.54    2.070